<p>tactic-description works!</p>
<div [ngClass] = "{showNotifications: isHidden}">
  <div class="">{{this.strategy.techniqueNumber}}</div>
  <div class="">{{this.strategy.techniqueName}}</div>
  <div class="">{{this.strategy.executorName}}</div>
  <div class="">{{this.strategy.tactic}}</div>
  <div class="">{{this.strategy.testGUID}}</div>
  <div class="">{{this.strategy.testName}}</div>
  <div class="">{{this.strategy.testNumber}}</div>
  <button (click)="executeTest()">Выполнить тест</button>
  <div class="" [innerHTML]="executionResult" >{{executionResult}}</div>
  <b></b>
</div>


